.content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
}

.header {
  background-color: #ff6600;
  color: black;
  padding: 5px;
  font-weight: bold;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f6f6ef;
}

.userField {
  margin-bottom: 5px;
}